<div class="container text-center mt-4 mb-4"">
  <h2>Mis Proyectos</h2>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <a href="https://ovejinha.github.io/Desafio_Cuppon">
        <img src="<%= asset_path('cuppon.png') %>" class="card-img-top" alt="Imagen 1">
        <div class="card-body">
        </a>
          <h5 class="card-title">Cuppon</h5>
          <p class="card-text">P치gina venta de cupones de descuento</p>
          <a href="https://ovejinha.github.io/Desafio_Cuppon" class="btn btn-warning">Ver P치gina</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <a href="https://ovejinha.github.io/Desafio_Olivia_Ross">
        <img src="<%= asset_path('olivia.png') %>" class="card-img-top" alt="Imagen 2">
        </a>
        <div class="card-body">
          <h5 class="card-title">Olivia Ross</h5>
          <p class="card-text">Portafilio Personal de la Fotografa Olivia Ross.</p>
          <a href="https://ovejinha.github.io/Desafio_Olivia_Ross" class="btn btn-warning">Ver P치gina</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <a href="https://ovejinha.github.io/Desafio_Ricomida">
        <img src="<%= asset_path('ricomida.png') %>" class="card-img-top" alt="Imagen 3">
        </a>
        <div class="card-body">
          <h5 class="card-title">Ricomida</h5>
          <p class="card-text">Revista Virtual con Recetas de Cocina.</p>
          <a href="https://ovejinha.github.io/Desafio_Ricomida" class="btn btn-warning">Ver P치gina</a>
        </div>
      </div>
    </div>
  </div>
</div>



