<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>


<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img src="ruta_imagen1.jpg" class="card-img-top" alt="Imagen 1">
      <div class="card-body">
        <h5 class="card-title">Proyecto 1</h5>
        <p class="card-text">Descripción del proyecto 1.</p>
        <a href="https://github.com/tu_usuario/tu_proyecto" class="btn btn-primary">Ver en GitHub</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="ruta_imagen2.jpg" class="card-img-top" alt="Imagen 2">
      <div class="card-body">
        <h5 class="card-title">Proyecto 2</h5>
        <p class="card-text">Descripción del proyecto 2.</p>
        <a href="https://github.com/tu_usuario/tu_proyecto" class="btn btn-primary">Ver en GitHub</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="ruta_imagen3.jpg" class="card-img-top" alt="Imagen 3">
      <div class="card-body">
        <h5 class="card-title">Proyecto 3</h5>
        <p class="card-text">Descripción del proyecto 3.</p>
        <a href="https://github.com/tu_usuario/tu_proyecto" class="btn btn-primary">Ver en GitHub</a>
      </div>
    </div>
  </div>
</div>
